@media (max-width: 1439px) {
    .container {
        max-width: 992px;
    }
    .sidepanel {
        display: none;
    }

}

@media (max-width: 1200px) {
    .container {
        padding-left: 10px;
        max-width: 992px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 35px 30px 0 30px;
            column-gap: 60px
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3,270px);
            grid-template-rows: repeat(3,minmax(270px,auto));
            justify-content: center;
        }
        &__progress {
            grid-template-columns: repeat(3,300px);
            column-gap: 27px;
            &-item {
                grid-template-columns: 264px 34px;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 380px 560px;
            justify-content: space-around;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 270px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 315px 380px;
            column-gap: 20px;
            row-gap: 10px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-template-rows: repeat(2, minmax(80px, auto));
            grid-auto-rows: minmax(80px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 290px);
        }
    }
    .skills {
        &__wrapper {
            padding-bottom: 60px;
            grid-template-columns: repeat(2,270px);
            grid-template-rows: repeat(3,minmax(270px,auto));
        }
        &__progress {
            grid-template-columns: repeat(2,350px);
            column-gap: 27px;
            &-item {
                grid-template-columns: 295px 34px;
            }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 350px);
            padding: 0;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 600px);
        }
        &__photo {
            img {
                display: none;
            }
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 280px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 410px;
            row-gap: 40px;
        }
    }
    .skills {
        &__wrapper {
            padding-bottom: 40px;
            grid-template-columns: 270px;
            row-gap: 20px
        }
        &__progress {
            grid-template-columns: 350px;
            row-gap: 40px;
            justify-content: center;
            &-item {
                grid-template-columns: 316px 34px;
            }
        }
    }
    .portfolio {
        padding-top: 40px;
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            justify-content: center;
        }
    }
    .contacts {
        padding: 40px 0 50px 0;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 525px);
        }
        &__form {
            grid-template: 45px 160px 45px / repeat(2, 260px);
            row-gap: 20px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;

    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu__block {
        width: 250px;
        padding-left: 20px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume{
        .divider {
            margin-top: 0;
        }
        &__wrapper {
            padding: 15px 8px 0 8px;
            grid-template-columns: 300px;
            row-gap: 40px;
        }
    }
    .skills {
        .divider {
            margin: 0 auto 20px auto;
        }
        &__wrapper {
            padding: 0 15px 40px 15px;
            grid-template-columns: repeat(1,270px);
            row-gap: 20px
        }
        &__progress {
            grid-template-columns: 300px;
            &-item {
                grid-template-columns: 264px 34px;
            }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 295px);
            
        }
    }
    .contacts {
        .container {
            padding: 0;
        }
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
        }
        &__form {
            grid-template: 45px 45px 160px / repeat(auto-fit, 300px);
            row-gap: 20px;
            justify-content: center;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: repeat(auto-fit, 220px);
            justify-content: center;
            row-gap: 20px;
        }
        &__textarea {
            grid-column: unset;
            grid-row-start: 3;
        }
        &__policy {
            grid-row: 1 / 2;
            justify-content: center;
            span {
                width: 70%;
            }
        }
        &__btn {
            grid-row: 2 / 3;
        }
    }
}