.skills {
    padding-top: 126px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: 1fr;
        padding: 35px 12px 120px 12px;
        gap: 13px;
    }
    &__item {
        padding: 30px 30px 25px 30px;
        border: 1px solid #000000;
        h4 {
            margin-top: 20px;
        }
        &-descr {
            margin-top: 15px;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__progress {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        column-gap: 45px;
        row-gap: 30px;
        &-item {
            display: grid;
            grid-template-columns: 316px 34px;
            grid-template-rows: 56px 14px;
        }
        &-title {
            position: relative;
            padding: 8px 0 0 14px;
            @include before_circle;
            &::before {
                top: 0px;
            }
        }
        &-percent {
            padding-top: 8px;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
        &-bgline {
            background: #E8E4DE;
            grid-column: 1 / 3;
            border-radius: 4px;
            z-index: -1;
        }
        &-line {
            height: 14px;
            background-color: $main-color;
            z-index: 3;
            border-radius: 4px;
        }
        
    }
}